* {
    padding: 0;
    margin: 0;
}

header {
    background: url(/img/bg__header.png);
    height: 100vh;
    color: white;
    background-size: cover;
    background-position: 100% 100%;
}

a {
   text-decoration: none;
    color: white;
}

.logo {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin: 28px 362px 0px;

}

nav {
    text-transform: uppercase;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding-top: 40px;
    font-weight: 400;
    padding-right: 488px;
    height: 30px;
}

.nav a:hover {
    border-bottom: 3px solid #fce38a;
    padding-bottom: 12px;
    color: #fce38a;
}

li {
    list-style-type: none;
    display: inline-flex;
    margin: 0px 0px 0px 56px;
}

.title, .upper_title, .btn {
    text-align: center;
}

.upper_title {
    font-family: 'Kaushan Script', sans-serif;
    font-size: 72px;
    margin-top: 120px
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 150px;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: 71px;
}

hr {
    display: block;
    height: 3px;
    width: 60px;
    margin: 0 auto;
    color: #fff;
}

.btn1 {
    display: inline-block;
    border: solid 3px #fff;
    padding: 15px 32px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-top: 50px;
}

.btn {
    margin: auto;
}
